{% extends 'base.html.twig' %}

{% block title %} Home{% endblock %}


{% block body %}

<div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur  SymRecipe</h1>
            <p class="lead">heojeoz hoj u  up uo 
            ikakheazkleazkeh
            ekemenen  </p>
        </div>
</div>

  

  
{% endblock %}
