{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Home{% endblock %}


{% block body %}

<div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome on   SymRecipe</h1>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur dolorum hic temporibus, <br>
                dolor nostrum ducimus accusamus nobis placeat ab inventore, tenetur, <br>
                voluptas consequatur iste? Ipsam dolor sit tempore molestias. Praesentium!
             </p>

            <hr class="my-4">
            {# <a href=" {{path('app_security_sign_up')}} " class="btn btn-success btn-lg"> signUp</a> #}
        </div>
</div>

  

  
{% endblock %}
