{% extends 'base.html.twig' %}

{% block title %} {{parent()}} | UpdatePassword{% endblock %}

{% block body %}


<div class="container"> 

<h1> Modification mot de passe</h1>

 {% for message in app.flashes('danger') %}
<div class="alert alert-danger mt-4">
         {{ message }}
</div>
{% endfor %}
    {{form(form)}}
</div>
{% endblock %}
